html {
  margin: 0;
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 900px;
  background:
    linear-gradient(-45deg,
      rgb(104, 200, 255),
      rgb(133, 255, 133),
      rgb(0, 255, 251),
      rgb(0, 236, 192),
      transparent);
  background-blend-mode: screen;
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 8px #b4b4b4;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
}

h1 {
  font-size: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 100;
}

.headerImg {
  margin: 10px;
  width: 95px;
  height: 75px;
}

#headerDiv {
  display: flex;
}

#homeDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.aboutLink {
  text-decoration: none;
  border: thin solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(156, 218, 240);
  color: white;
  font-weight: 200;
  font-size: 18px;
  transition: 300ms;
  margin-right: 15px;
}

.aboutLink:hover {
  background-color: rgb(186, 229, 245);
  color: black;
}

.homeLink {
  text-decoration: none;
  border: thin solid black;
  padding: 10px;
  background-color: rgb(156, 218, 240);
  color: white;
  font-weight: 200;
  font-size: 18px;
  border-radius: 5px;
}

.homeLink:hover {
  background-color: rgb(186, 229, 245);
  color: black;
  transition: 300ms;
}

.resultsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
  margin-bottom: 15px;
  border: thin solid black;
  box-shadow: 1px 1px 8px #b4b4b4;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
}

h3 {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 100;
  margin-top: 8px;
}

.resultsInfo {
  text-align: left;
  text-indent: 30px;
  max-width: 800px;
  font-family: 'Roboto Mono', monospace;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 30px;
}

.chartContainer {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 825px;
  background-color: rgb(241, 247, 248);
  box-shadow: 1px 1px 8px #b4b4b4;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#resultsChart {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 725px;
}

footer p {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
}