html{
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 900px;
  background:
    linear-gradient(rgb(104, 200, 255), transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 8px #b4b4b4;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
}

h1 {
  font-size: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 100;
}

.headerImg {
  margin: 10px;
  width: 95px;
  height: 75px;
}

#headerDiv {
  display: flex;
}

#resultsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.resultsLink {
  text-decoration: none;
  border: thin solid black;
  border-radius: 5px;  
  padding: 10px;
  background-color: rgb(156, 218, 240);
  color: white;
  font-weight: 200;
  font-size: 18px;
  transition: 300ms;
}

.resultsLink:hover {
  background-color: rgb(186, 229, 245);
  color: black;
  /* text-decoration: line-through; */
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
  margin-bottom: 15px;
  border: thin solid black;
  box-shadow: 1px 1px 8px #b4b4b4;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
}

#question {
  text-align: center;
  max-width: 600px;
  font-family: 'Roboto Mono', monospace;
  line-height: 25px;
  font-weight: 300;
  font-size: 18px;
}

#keyboardContainer {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  padding: 30px;
  max-width: 900px;
  margin-bottom: 15px;
  border: thin solid black;
  box-shadow: 1px 1px 8px #b4b4b4;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
}

#keyboardButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
}

.keyboardButtons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgb(118, 205, 236);
  color: black;
  background-color: rgb(251, 254, 255);
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 18px;
  transition: 300ms;

}

.keyboardButtons:hover {
  background-color: rgb(156, 218, 240);
  color: white;
  cursor: pointer;
}

.selected {
  background-color: rgb(156, 218, 240);
  color: white;
}

.gameAndCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
}

#buttonDiv {
  display: block;
  margin-top: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.diffButtons {
  display: block;
  margin: 6px auto;
  padding: 0 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid rgb(118, 205, 236);
  border-radius: 5px;
  background-color: rgb(251, 254, 255);
  transition: 300ms;
  color: black;
}

.diffButtons:hover {
  background-color: rgb(156, 218, 240);
  color: white;
  cursor: pointer;
}

.diffButtons:focus {
  background-color: rgb(156, 218, 240);
  color: white;
}

.counterDiv {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 150px;
  height: 435px;
  border: thin solid black;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(241, 247, 248);
  box-shadow: inset 1px 1px 20px rgb(112, 163, 182);
  margin-top: 15px;
  margin-bottom: 20px;
}

.pClicks {
  padding: 8px;
  height: 250px;
  background-color: rgb(156, 218, 240);
  color: white;
  border: thin solid black;
  border-radius: 5px;
  margin-left: 2px;
  font-weight: 300;
  cursor: default;
  margin-bottom: 15px;
}

#clicks {
  font-size: 21px;
  line-height: 27px;
  font-weight: 200;
}


.resetButton {
  margin: 6px auto;
  padding: 5px 10px;
  width: 100%;
  max-width: 240px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid rgb(118, 205, 236);
  border-radius: 5px;
  background-color: rgb(251, 254, 255);
  color: black;
  transition: 300ms;
}

.resetButton:hover {
  background-color: rgb(156, 218, 240);
  color: white;
  cursor: pointer;
}

.catContainer {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  background-color: rgb(241, 247, 248);
  box-shadow: inset 1px 1px 20px rgb(112, 163, 182);
  margin-top: 15px;
  margin-bottom: 20px;
}

#octocat {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#letterDisplay {
  max-width: 900px;
  margin: 0 auto;
  display: block;
  height: 55px;
}

.wordDisplay {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -3px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1.5px 0.5px black;
  color: rgb(246, 242, 234);
  cursor: default;
}


.infoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
  margin-bottom: 15px;
  border: thin solid black;
  box-shadow: 1px 1px 8px #b4b4b4;
  background-color: rgb(241, 247, 248);
  border-radius: 5px;
}

h3 {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 100;
  margin-top: 8px;
}

.gameInfo {
  text-align: left;
  text-indent: 30px;
  max-width: 800px;
  font-family: 'Roboto Mono', monospace;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 30px;
}

footer p {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
}

