body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.catContainer {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

#octocat {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

